@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3deg);
  }
}

h2{
  text-align: center;
  background-color: red;

}

h3{
  background-color: blue;
  text-align: center;
  color: white;
  padding: 2px;
  margin-bottom: 10px;
}
/* transportation class */
.transportation{

  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  animation: rotation 4s linear infinite;
  border-radius: 30%;

}
/* Info class  */
.info {
  margin: 10px auto;
  border: 3px solid black;
  color: white;
  width:50%;
  border-left-color: blue;
  border-right-color: red;
  border-bottom-color: red;
  border-top-color: blue
}

/* header class */
.header {
  margin: auto;
  width: auto;
  padding-top:  2px;
  background-color: rgb(121, 90, 7);
  background: linear-gradient(to right, blue 50%, red 50%);
}
