@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(6deg);
  }
}

h2{
  text-align: center;
    background-color: yellow;
}

h3{
  background-color: orange;
  text-align: center;
}

.transportation{

  height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  animation: rotation 2s linear infinite;
  border-radius: 30%
}
.info {
  margin: 10px auto;
  border: 3px solid black;
  color: blue;
  width:50%;
}


.header{
  margin: 30px;
  width: auto;
  padding: 10px;
  background-color: teal;
}
